@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
}


.grand-container {
  width: 98%;
  margin: auto;
}


.input-field::-webkit-scrollbar {
  width: 6px;
}
    
.input-field::-webkit-scrollbar-track {
  background: #212121;
}
    
.input-field::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 10px;
}


.text-content {
  overflow-wrap: break-word;
}

input[type="email"], input[type="password"] {
  outline: none;
}

input[type="email"]:valid, input[type="password"]:valid {
  border-color: #10b981;
  box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.1);
}

input[type="email"]:invalid:not(:placeholder-shown), input[type="password"]:invalid:not(:placeholder-shown) {
  border-color: #ef4444;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.1);
}


/* Improve scrollbar appearance */
.chats::-webkit-scrollbar {
  width: 3px;
}
    
.chats::-webkit-scrollbar-track {
  background: #212121;
}
    
.chats::-webkit-scrollbar-thumb {
  background: #414141;
  border-radius: 10px;
}

.text-content {
  white-space: pre-wrap;
  word-break: break-word;
}


@media (max-width: 425px) and (min-width: 320px) {
  .input-box {
    bottom: calc(env(safe-area-inset-bottom) + 2vh);
    bottom: calc(constant(safe-area-inset-bottom) + 1.5vh);
  }
}

@media (max-width: 375px) {
  .send-btn{
    width:  11.5%;
  }
}

@media (max-width: 320px) {
  nav h1 {
    font-size: 1.2rem;
    margin-left: 15vw;
  }

  .login-btn {
    margin-left: 18vw;
  }

  .send-btn{
    width:  14.5%;
  }  
}

@media (max-width: 375px) {
  .login-box {
    width: 98%;
  }

  .form-group {
    width: 100%;
  }

  .fa-envelope {
    left: 64vw;
  }

  .fa-lock {
    left: 64vw;
  }
}

@media (max-width: 320px) {
  .login-box {
    width: 98%;
  }

  .form-group {
    width: 100%;
  }

  .fa-envelope {
    display: none !important;
  }

  .fa-lock {
    display: none !important;
  }
}